
$grey: rgb(247, 247, 247);
$text_grey: rgb(117, 117, 117);
$heading_grey: rgb(82, 79, 79);


.modal_container {
    display: flex;
    position: fixed; 
  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartModal_container {

    width: 90%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
 
}

.cart_model_header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    padding: 10px 20px;
   
}

.cart_model_body {
    width: 100%;
    height: calc(100% - 50px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    padding-left: 40px;
    border: $grey 1px solid;
    ;

}


.cart_modal_body_header {
    display: flex;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 40px;
    grid-gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    width: 100%;
    background-color: $grey ;
    border-radius: 0.5rem;
    height:  100%;
    align-items: center;
    color: $heading_grey;
    
    :first-child {
       padding-left: 10px;
        
     
    }

    > h4 {
        text-transform: uppercase;
    }

    @media (max-width: 768px) {
    
      font-size: 14px;
      height: auto;   
   
        
    
    }

    @media (max-width: 576px) {
    
      font-size: 12px;
      height: auto;   
   
        
    
    }

    @media (max-width: 320px) {
    
      font-size: 10px;
      height: auto;   
   
        
    
    }
        
    
 


  

}





.cart_modal_body_grid_container {
    display: grid;
    grid-template-columns:  3fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
}

.cart_modal_body_item_remove {
    cursor: pointer;
}
.cart_model_footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10rem;
    border: $grey 1px solid;

    

    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 10px;
        width: 100%;
        margin-bottom: 10rem;
        
    }

}

.cart_modal_body_item_img  {
 border-radius: 0.5rem;

 @media (max-width: 768px) {

    height: auto;
   
 }
    
    
}

.cart_modal_footer_order_subtotal {
    text-emphasis: none;
    text-decoration: none;
    color: $text_grey;
}

.cart_modal_footer_order_subtotal_amount {
    display: flex;
    justify-content: flex-end;
}

.cart_modal_footer_shipping {
     
    color: $text_grey;
}

.cart_modal_footer_shipping_cost {
    display: flex;
    justify-content: flex-end;
}

.cart_modal_footer_tax_price {
    display: flex;
    justify-content: flex-end;
}

.cart_modal_footer_total{
    color: $text_grey        ;
}

.cart_modal_footer_tax {
    color:$text_grey;
}


.cart_modal_order_summary_title {
    background-color: rgb(239, 233, 233);
    border-radius: 1rem;
    display: flex;
    align-content: center;
    height: 3rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: $heading_grey;

    @media (max-width: 768px) {
       display: flex;
       justify-content: center;
       height: 2.5rem;
    }

}


.cart_modal_footer_total_price {
    display: flex;
    justify-content: flex-end;
}

.cart_modal_footer_order_right_column {
 
    padding-right: 5%;
    @media (max-width: 768px) {

        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 80%;
    }
}
.cart_model_footer_order_subtotal_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

 
}

.cart_model_footer_order_subtotal_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cart_model_footer_order_tax_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cart_model_footer_order_total_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cart_modal_footer_checkout_button {
    background-color: rgb(27, 203, 127);
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    color: #fff;

 
    

}


.cart_modal_list_container div {
   
      
        border-bottom: 1px solid rgb(161, 154, 154);
        margin-bottom: 15px;
}




